:root{
    --color-inet: #0E68AF;
    --color-black: #000000;
    --size-btn-collapse: 10.5rem;
    --time-animation: 0.3s;
    --box-shadow: 3px 7px 7px rgba(0 0 0 /22%);
}
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.parent {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 64.19px 1fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
}
header{
    grid-area: header;
    height: 64.19px;
    margin: 0%;
    background-color: var(--color-inet);
    display: flex;
    align-items: center;
    position: sticky;
}
.nav-main{
    margin-left: 10px;
    
}
main{
    grid-area: main;
    height: 100vh;
    margin: 0px;

}
.boton{
    margin: 10px;
    height: 150px;
    width: 300px;
    background-color: var(--color-inet);
    border-radius: 12px;
    
}
.boton:hover{
    transform: scale(1.03);
    transition: var(--time-animation);
}
/*footer*/
footer{
    
    background-color: var(--color-inet);
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
    width: 100vw;
}
footer a{
    text-decoration: none;
}
footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

/*to-top*/
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--color-black);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: var(--box-shadow);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}